@import "tailwindcss";

:root {
  /* Colors */

  /* Base */

  --white: rgb(249, 249, 249);
  --gray-900: rgb(240, 240, 240);
  --gray-600: rgb(180, 180, 180);
  --gray-500: rgb(130, 130, 130);
  --gray-300: rgb(80, 80, 80);
  --gray-200: rgb(40, 40, 40);
  --gray-100: rgb(16 16 16);
  --black: rgb(8, 8, 8);

  --cool-gray-950: rgb(241, 244, 248);
  --cool-gray-900: rgb(228, 235, 246);
  --cool-gray-700: rgb(187, 196, 213);
  --cool-gray-500: rgb(76, 82, 94);
  --cool-gray-250: rgb(47, 50, 56);
  --cool-black: rgb(14, 15, 17);

  --warm-gray-800: rgb(231, 232, 228);

  /* Accent */

  --dalice-blue: rgb(21, 49, 96);
  --dalice-blue-light: rgb(21, 61, 128);

  /* Surface */

  --surface-primary: var(--white);
  --surface-secondary: var(--cool-gray-950);
  --surface-tertiary: var(--cool-gray-700);

  /* Content */

  --content-primary: var(--gray-200);
  --content-secondary: var(--gray-300);
  --content-tertiary: var(--gray-500);

  /* Accent */

  --accent-primary: var(--dalice-blue);
  --accent-secondary: var(--dalice-blue-light);

  /* Typography */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings:
    "liga" on,
    "kern" on;
}

body {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant-garamond);
  font-family: var(--font-sans);
  background-color: var(--surface-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  line-height: 1.1;
  font-weight: 700;
  font-family: var(--font-serif);
}

h2 {
  font-size: clamp(1.7rem, 3vw + 1rem, 5rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.5rem, 2.5vw + 1rem, 4rem);
}

p {
  font-size: clamp(0.6rem, 1.1rem);
  font-weight: 400;
}
