@import "tailwindcss";

:root {
  /* Base */
  --white: rgb(249, 249, 249);
  --gray-900: rgb(228, 235, 246);
  --gray-200: rgb(44, 44, 44);
  --black: rgb(16 16 16);
  --black-rgb: 16 16 16;

  /* Accent */
  --dalice-blue: rgb(21, 49, 96);
  --dalice-blue-light: rgb(21, 61, 128);

  /* Surface */
  --surface-primary: var(--white);
  --surface-secondary: var(--gray-900);
  --background: var(--white);
  --foreground: var(--gray-200);

  /* Accent */
  --accent-primary: var(--dalice-blue);
  --accent-secondary: var(--dalice-blue-light);
  /* Typography */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Surface */
    --surface-primary: rgb(var(--black));
    --surface-secondary: rgb(var(--gray-200));
    --background: var(--surface-primary);
    --foreground: var(--gray-200);
  }
}

@layer utilities {
  .contour {
    border: 0.15rem solid var(--color-accent-secondary);
  }
}

body {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant-garamond);
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 6rem);
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: clamp(1.7rem, 3vw + 1rem, 5rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.5rem, 2.5vw + 1rem, 4rem);
}

p {
  font-size: clamp(0.6rem, 1.1rem);
  font-weight: 400;
}

@media screen and (width > 1500px) {
  .wrapper {
    inline-size: 1500px;
    margin-inline: auto;
  }
}

@media screen and (width > 1299px) and (width < 1499px) {
  .wrapper {
    inline-size: 1200px;
    margin-inline: auto;
  }
}

@media screen and (width > 1024px) and (width < 1299px) {
  .wrapper {
    inline-size: 1000px;
    margin-inline: auto;
  }
}
@media screen and (width < 1024px) {
  .wrapper {
    padding-inline: 1rem;
  }
}
