
    .heroEndContainer {
    inline-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline-end: 2rem;
    gap: 1rem;
    }

    @media screen and (width < 1024px) {
    .heroSection {
        flex-direction: column;
    }
    .heroImageContainer {
        inline-size: 100%;
    }

    .heroEndContainer {
        inline-size: 100%;
    }
    }
