.languageDropdown {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

.currentLang {
  anchor-name: --language-button;
}

.languagesWrapper {
  position: absolute;
  margin: 0;
  position-anchor: --language-button;
  inset: auto;
  top: calc(anchor(top) - 6rem);
  right: anchor(right);
}

.languagesWrapper:popover-open {
  position: fixed;
  margin: 0;
}

.languageSwitcherButton {
  font-size: 0.8rem;
  inline-size: 5rem;
  block-size: 5rem;
  background-color: var(--color-surface-primary);
  border-radius: 50%;
    border: 2px solid var(--color-border-primary);
  color: var(--color-foreground);
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.languageSwitcherButton:hover {
  opacity: 0.7;
  cursor: pointer;
}
