@import "tailwindcss";


:root {
  /* Base Light Mode */
  --background: #FFFFFC;
  --foreground: #070B22;
  /*Primary */
  --primary-accent: #00A7E1;
  --primary-surface: #F5D7CC;
  --warning-red: #B3001B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070B22;
    --foreground: #FFFFFC;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface-secondary: #F2ECE4;
  --color-foreground-secondary: #B0A290;

  --font-main: var(--font-josefin);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}



